certifi==2019.6.16
chardet==3.0.4
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.24
docopt==0.6.2
ecdsa==0.13
gitignore==0.0.8
graphenelib==0.4.8
gunicorn==19.9.0
idna==2.8
psycopg2==2.8.3
pylibscrypt==1.5.3
pytz==2019.1
requests==2.10.0
six==1.12.0
sql==0.4.0
sqlparse==0.3.0
static3==0.7.0
urllib3==1.25.3
virtualenv==16.7.2
websocket-client==0.37.0
whitenoise==4.1.3
